<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="admin/layout">
<head>
    <title th:text="'Penalties of ' + ${race.name}"></title>
</head>
<body>

<section layout:fragment="content">
    <h1 class="page-header" th:text="'Penalties of ' + ${race.name}"></h1>

    <ol class="breadcrumb">
        <li><a th:href="@{/admin/home}">Home</a></li>
        <li><a th:href="@{/admin/season/list}">Seasons</a></li>
        <li><a th:href="@{/admin/season/{id}/view(id=${race.season.id})}" th:text="${race.season.name}"></a></li>
        <li><a th:href="@{/admin/race/{id}/view(id=${race.id})}" th:text="${race.name}"></a></li>
        <li class="active">Penalties</li>
    </ol>

    <form action="#" th:action="@{save}" th:object="${form}" method="post">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-right">
                    <input type="submit" class="btn btn-success" value="Save"/>
                </div>
            </div>
        </div>

        <input type="hidden" th:field="*{race}"/>
        <div class="row top-20">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Driver</th>
                            <th>Position</th>
                            <th>Point</th>
                            <th><a href="#" id="penalty-add-btn" class="btn btn-primary">Add</a></th>
                        </tr>
                        </thead>
                        <tbody id="penalty-table-body" th:attr="data-penalties=${form.penalties.size()}">
                        <tr th:each="penalty, stat : *{penalties}">
                            <td>
                                <input type="hidden" th:field="*{penalties[__${stat.index}__].race}"/>
                                <select class="form-control" th:field="*{penalties[__${stat.index}__].driver}">
                                    <option th:each="driver : ${drivers}"
                                            th:value="${driver.id}"
                                            th:text="${driver.name}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" th:field="*{penalties[__${stat.index}__].positionAsInt}"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" th:field="*{penalties[__${stat.index}__].point.point}"/>
                            </td>
                            <td>
                                <a href="#" class="btn btn-danger penalty-delete-btn">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>

    <table style="display: none">
        <tr id="penalty-row-template">
            <td>
                <input type="hidden" id="penalties__ID__.race" name="penalties[__ID__].race" th:value="${race.id}" />
                <select class="form-control" id="penalties__ID__.driver" name="penalties[__ID__].driver">
                    <option value="0">-- Choose --</option>
                    <option th:each="driver : ${drivers}"
                            th:value="${driver.id}"
                            th:text="${driver.name}">
                    </option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" id="penalties__ID__.positionAsInt" name="penalties[__ID__].positionAsInt" value="" />
            </td>
            <td>
                <input type="text" class="form-control" id="penalties__ID__.point.point" name="penalties[__ID__].point.point" value="" />
            </td>
            <td>
                <a href="#" class="btn btn-danger penalty-delete-btn">Delete</a>
            </td>
        </tr>
    </table>

    <script>
        $('#penalty-add-btn').on('click', function () {
            var $penaltyTable = $('#penalty-table-body');
            var $penaltyRowTemplate = $('#penalty-row-template');

            var penaltyCounter = $penaltyTable.attr('data-penalties');
            var html = $penaltyRowTemplate.html().replace(/__ID__/g, penaltyCounter);
            $penaltyTable.append('<tr>' + html + '</tr>');

            $penaltyTable.attr("data-penalties", ++penaltyCounter);
        });

        $('body').on('click', '.penalty-delete-btn', function () {
            $(this).parent().parent().remove();
        });
    </script>

</section>


</body>
</html>