<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="admin/layout">
<head>
    <title th:text="${season.name}"></title>
</head>
<body>

<section layout:fragment="content">
    <h1 class="page-header" th:text="${season.name}"></h1>

    <ol class="breadcrumb">
        <li><a th:href="@{/admin/home}">Home</a></li>
        <li><a th:href="@{/admin/season/list}">Seasons</a></li>
        <li class="active" th:text="${season.name}"></li>
    </ol>

    <div class="row">
        <div class="col-xs-12">
            <div class="text-right">
                <a class="btn btn-primary" th:href="@{/admin/season/{id}/edit(id=${season.id})}">Edit</a>
            </div>
        </div>
    </div>

    <div class="row top-20">
        <div class="col-xs-12">
            <h3>Races</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="text-right">
                <a class="btn btn-primary" th:href="@{/admin/season/{id}/race/create(id=${season.id})}">Create Race</a>
            </div>
        </div>
    </div>

    <div class="row top-20">
        <div class="col-xs-12">
            <div th:if="${races.size() == 0}">There is not race added yet.</div>
            <div th:if="${races.size() > 0}" class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Start Date and Time</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="race : ${races}">
                        <td th:text="${race.name}"></td>
                        <td th:text="${race.location}"></td>
                        <td th:text="${race.startDateTime}"></td>
                        <td width="188px">
                            <div class="btn-group">
                                <a href="#" class="btn btn-default" th:href="@{/admin/season/{id}/race/{raceId}/view(id=${season.id},raceId=${race.id})}">View</a>
                                <a href="#" class="btn btn-default" th:href="@{/admin/season/{id}/race/{raceId}/edit(id=${season.id},raceId=${race.id})}">Edit</a>
                                <a href="#" class="btn btn-danger" th:href="@{/admin/season/{id}/race/{raceId}/delete(id=${season.id},raceId=${race.id})}">Delete</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

</body>
</html>