<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="admin/layout">
<head>
    <title>Settings</title>
</head>
<body>

<section layout:fragment="content">
    <h1 class="page-header">Settings</h1>

    <ol class="breadcrumb">
        <li><a th:href="@{/admin/home}">Home</a></li>
        <li class="active">Settings</li>
    </ol>

    <form action="#" th:action="@{save}" th:object="${configuration}" method="post">
        <div class="row top-20">
            <div class="col-xs-12">
                <div class="text-right">
                    <input type="submit" class="btn btn-success" value="Save"/>
                </div>
            </div>
        </div>

        <div class="row top-20">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Active season</label>
                    <select class="form-control" th:field="*{activeSeason}">
                        <option value="0">-- Choose --</option>
                        <option th:each="season : ${seasons}"
                                th:value="${season.id}"
                                th:text="${season.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Number of drivers to bet on</label>
                    <input class="form-control" type="text" th:field="*{numberOfDriversToBetOn}" />
                </div>
            </div>
        </div>
    </form>
</section>

</body>
</html>