<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title th:text="'Bet on ' + ${race.name}"></title>
</head>
<body>

<section layout:fragment="content">
    <h1 class="page-header" th:text="'Bet on ' + ${race.name}"></h1>

    <div class="row top-20">
        <div class="col-xs-12">
            <div class="pull-left">
                <h3>Penalties</h3>
            </div>
        </div>
    </div>

    <div class="row top-20">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="70%">Driver</th>
                        <th width="15%">Position</th>
                        <th width="15%">Point</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${penalties.size() == 0}"><td colspan="3">There are no penalties added yet.</td></tr>
                    <tr th:each="penalty : ${penalties}">
                        <td th:text="${penalty.driver.name}"></td>
                        <td th:text="${penalty.position}"></td>
                        <td th:text="${penalty.point}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <form action="#" th:action="@{save}" th:object="${betForm}" method="post">
        <div class="row top-20">
            <div class="col-xs-12">
                <div class="pull-left">
                    <h3>Bets</h3>
                </div>
                <div class="pull-right">
                    <input type="submit" class="btn btn-success" value="Save"/>
                </div>
            </div>
        </div>
        
        <div class="row top-20">
            <div class="col-xs-12">
                <div th:if="${#fields.hasErrors()}" class="alert alert-danger" role="alert">
                    <div class="control-label" th:each="err : ${#fields.allErrors()}">
                        <span th:text="${err}"></span>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="70%">Driver</th>
                            <th width="30%">Final Position</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bet, stat : *{bets}">
                            <td>
                                <input type="hidden" th:field="*{bets[__${stat.index}__].race}"/>
                                <select class="form-control" th:field="*{bets[__${stat.index}__].driver}">
                                    <option value="0">-- Choose --</option>
                                    <option th:each="driver : ${drivers}"
                                            th:value="${driver.id}"
                                            th:text="${driver.name}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" th:field="*{bets[__${stat.index}__].finalPosition.position}">
                                    <option value="0">-- Choose --</option>
                                    <option th:each="position : ${positions}"
                                            th:value="${position}"
                                            th:text="${position}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>

</section>


</body>
</html>