body {
    background: black;
    margin: 0;
}

#wrapper {
    padding: 0;
}

#page-wrapper {
    width: 1000px;
    margin: 10px auto;
    min-height: 800px;
    background: white;
    border-radius: 4px;
    border: 1px solid black;
}

#header-wrapper {
    width: 1000px;
    margin: 0 auto;
}

#main-navbar {
    margin: 0;
}

.th-counter {
    width: 50px;
}

.logged-in-user {
    font-weight: bold;
}

.flash-message > div {
    width: 1000px;
    margin: 10px auto;
}

.bet-now {
    font-weight: bold;
    color: #a94442;
}

.race-summary {
    font-size: 20px;
}

.watched-user-bet {
    padding: 10px;
}

.watched-user-bet table {
    margin: 0;
}
