<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="admin/layout">
<head>
    <title>Create Driver</title>
</head>
<body>

<section layout:fragment="content">
    <h1 class="page-header">Create Driver</h1>

    <form action="#" th:action="@{save}" th:object="${driver}" method="post">
        <div class="row top-20">
            <div class="col-xs-12">
                <div class="text-right">
                    <a class="btn btn-primary" th:href="@{/admin/driver/list}">Back</a>
                    <input type="submit" class="btn btn-success" value="Save"/>
                </div>
            </div>
        </div>

        <div class="row top-20">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>First Name</label>
                    <input class="form-control" type="text" th:field="*{firstName}" />
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" type="text" th:field="*{lastName}" />
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" th:field="*{active}" />Active
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

</body>
</html>