<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="admin/layout">
<head>
    <title>Drivers</title>
</head>
<body>

<section layout:fragment="content">
    <h1 class="page-header">Drivers</h1>

    <ol class="breadcrumb">
        <li><a th:href="@{/admin/home}">Home</a></li>
        <li class="active">Drivers</li>
    </ol>

    <div class="row">
        <div class="col-xs-12">
            <div class="text-right">
                <a th:href="@{/admin/driver/create}" class="btn btn-primary pull-right">Create</a>
            </div>
        </div>
    </div>

    <div class="row top-20">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Active</th>
                        <th>Created</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="driver : ${drivers}">
                        <td th:text="${driver.firstName}"></td>
                        <td th:text="${driver.lastName}"></td>
                        <td th:text="${driver.active ? 'Yes' : 'No'}"></td>
                        <td th:text="${driver.dateCreated}"></td>
                        <td width="188px">
                            <div class="btn-group">
                                <a href="#" class="btn btn-default" th:href="@{/admin/driver/{id}/view(id=${driver.id})}">View</a>
                                <a href="#" class="btn btn-default" th:href="@{/admin/driver/{id}/edit(id=${driver.id})}">Edit</a>
                                <a href="#" class="btn btn-danger" th:href="@{/admin/driver/{id}/delete(id=${driver.id})}">Delete</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

</body>
</html>