<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="admin/layout">
<head>
    <title th:text="${driver.name}"></title>
</head>
<body>

<section layout:fragment="content">
    <h1 class="page-header" th:text="${driver.name}"></h1>

    <ol class="breadcrumb">
        <li><a th:href="@{/admin/home}">Home</a></li>
        <li><a th:href="@{/admin/driver/list}">Drivers</a></li>
        <li class="active" th:text="${driver.name}"></li>
    </ol>

    <div class="row">
        <div class="col-xs-12">
            <div class="text-right">
                <a class="btn btn-primary" th:href="@{/admin/driver/{id}/edit(id=${driver.id})}">Edit</a>
            </div>
        </div>
    </div>
</section>

</body>
</html>