<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>F1 Betting</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/sb-admin.css}"/>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery/jquery.datetimepicker.css}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" />

    <script th:src="@{/js/jquery/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/jquery/jquery-ui-1.12.1.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
</head>
<body>
<div id="wrapper">

    <header layout:fragment="header" id="header-wrapper">
        <nav class="navbar navbar-inverse" role="navigation" id="main-navbar">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/home}">F1 Betting</a>
            </div>

            <form id="logout-form" th:action="@{/logout}" th:method="POST"></form>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown" sec:authorize="isAuthenticated()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span sec:authentication="name"></span> <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/admin/home}">Admin Page</a>
                        </li>
                        <li>
                            <a th:href="@{/password-reset}">Reset Password</a>
                        </li>
                        <li>
                            <a href="#" onclick="$('#logout-form').submit()">Log Out</a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/register}">Register</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">Login</a>
                </li>
            </ul>

        </nav>
    </header>

    <section class="flash-message" layout:fragment="flash"></section>

    <div id="page-wrapper">
        <div class="container-fluid">
            <section layout:fragment="content"></section>
        </div>
    </div>

    <footer layout:fragment="footer"></footer>

</div>

<div layout:fragment="bottom"></div>

</body>
</html>
