<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="admin/layout">
<head>
    <title th:text="${race.id} ? 'Update Race' : 'Create Race'"></title>
</head>
<body>

<section layout:fragment="content">
    <h1 class="page-header" th:text="${race.id} ? 'Update Race' : 'Create Race'"></h1>

    <form action="#" th:action="@{save}" th:object="${race}" method="post">
        <input type="hidden" th:field="*{season}"/>
        <div class="row top-20">
            <div class="col-xs-12">
                <div class="text-right">
                    <a class="btn btn-primary" th:href="@{/admin/season/{seasonId}/view(seasonId=${race.season.id})}">Back</a>
                    <input type="submit" class="btn btn-success" value="Save"/>
                </div>
            </div>
        </div>

        <div class="row top-20">
            <div class="col-xs-6">
                <input type="hidden" th:field="*{resultSet}" />
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" th:field="*{name}" />
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input class="form-control" type="text" th:field="*{location}" />
                </div>
                <div class="form-group">
                    <label>Start date and time</label>
                    <input class="form-control date-time-picker" type="text" th:field="*{startDateTime}" />
                </div>
            </div>
        </div>
    </form>
</section>

</body>
</html>